@import "tailwindcss";

img {
    width: 100%;
}


button,
i {
    cursor: pointer;
}

#click:checked~.list {
    left: 0%;
}

.list {
    top: 0;
    left: -100%;
    transition: all 1s;
}

.mySwiper {
    width: 100%;
    height: auto;
}

.swiper-button-prev,
.swiper-button-next {
    color: black;
    z-index: 10;
}

.shop_button {
    transition: all 0.4s;
}

@media (max-width: 2100px) {
    .product_grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
    }
}

@media (max-width: 1940px) {
    .product_grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 15px;
    }
}

@media (max-width: 1650px) {
    .product_grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }
}

@media (max-width: 1170px) {
    .product_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }
}

@media (max-width: 980px) {
    .product_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

@media (max-width: 760px) {
    .product_grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }
}

@media (max-width: 2100px) {
    .maqola_grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 35px;
    }
}

@media (max-width: 2055px) {
    .maqola_grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;
    }
}

@media (max-width: 2028px) {
    .maqola_grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 23px;
    }
}

@media (max-width: 1992px) {
    .maqola_grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 16px;
    }
}

@media (max-width: 1956px) {
    .maqola_grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }
}

@media (max-width: 1928px) {
    .maqola_grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
}

@media (max-width: 1370px) {
    .maqola_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}


@media (max-width: 1024px) {
    .maqola_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media (max-width: 762px) {
    .maqola_grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}


@media (max-width: 1454px) {
    .footer {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1313px) {
    .footer {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 712px) {
    .footer {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
}




.like_grid {
    gap: 15px;
    padding: 15px;
}

@media (max-width: 2000px) {
    .like_grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1690px) {
    .like_grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1350px) {
    .like_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1060px) {
    .like_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 725px) {
    .like_grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 400px) {
    .like_grid {
        gap: 10px;
        padding: 10px;
    }
}

@media (max-width: 338px) {
    .like_grid {
        gap: 10px;
        padding: 0px;
    }
}


.shop_grid {
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}